html,
body { 
  height: 100%;
}

body { 
  flex-direction: column;
  font-size: 20px;
  @extend %rubik-400;
  line-height: 1.3;
  color: $defaultColor;
  background-color: $bgColor;
}

.container { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section { 
  padding-top: 120px;
}

.logo { 
  display: block;
  width: 200px;
  height: 39px;
  border-radius: 5px;
  transition: background-color 0.6s ease, box-shadow 0.6s ease, opacity 0.6s ease;

  &__img { 
    width: 100%;
    height: 100%;
  }

  &:focus { 
    background-color: rgba($cardBgColor, 0.01);
    box-shadow: 0 0 0 2px rgba($primaryColor, 0.702);
  }

  &:hover { 
    opacity: 0.8;
  }

  &:active { 
    box-shadow: 0 0 0 2px transparent;
    opacity: 0.5;
  }
}

.more { 
  position: relative;
  padding: 0 2px;
  line-height: 1.5;
  color: $titleColor;
  border-radius: 5px;
  box-shadow: 0 0 0 2px transparent;
  transition: color 0.6s ease, box-shadow 0.6s ease, text-shadow 0.6s ease, background-color 0.6s ease;

  &::after { 
    @include pseudo;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $titleColor;
    transition: background-color 0.6s ease;
  }

  &:focus { 
    box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
  }

  &:focus::after { 
    background-color: transparent;
  }

  &:hover { 
    color: $primaryColor;
  }

  &:hover::after { 
    background-color: transparent;
  }

  &:active { 
    color: $titleColor;
    box-shadow: 0 0 0 2px transparent;
    text-shadow: 2px 2px 5px rgba($titleColor, 0.5);
  }
}

.animation-link { 
  padding: 0;
  font-size: 18px;
  line-height: 2.4;
  color: $defaultColor;

  &::after { 
    display: none;
  }

  &:focus { 
    background-color: rgba($cardBgColor, 0.01);
  }

  &:active { 
    color: $defaultColor;
  }
}

.btn { 
  display: inline-block;
  padding: 12px 32px;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: $cardBgColor;
  background-color: $primaryColor;
  border-radius: 6px;
  transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;

  &:focus { 
    color: $primaryColor;
    background-color: rgba($secondaryColor, 0.1);
    box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
  }

  &:hover { 
    color: $primaryColor;
    background-color: rgba($cardBgColor, 0.1);
    box-shadow: 0 0 0 2px rgba($primaryColor, 0.7), 0 5px 12px 0 rgba($primaryColor, 0.2);
  }

  &:active { 
    background-color: rgba($secondaryColor, 0.1);
    box-shadow: none;
  }
}

.main { 
  flex: 1 1 auto;
}

.title { 
  font-size: 36px;
  @extend %rubik-500;
  text-align: center;
  color: $titleColor;
}

.subtitle { 
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.9;
}

.d-flex { 
  display: flex;
}

.sectioin-bg { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.burger-btn { 
  display: none;
  padding: 21px 7px;

  @include mq('tablet') { 
    display: block;
  }

  &__item { 
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: $titleColor;

    &::before,
    &::after { 
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $titleColor;
    }

    &::before { 
      top: 10px;
    }

    &::after { 
      bottom: 10px;
    }
  }
}