$primaryColor: #ff6838;
$secondaryColor: #ff7a50;
$hoverBgColor: #FFAE94;
$focusShdadowColor: #ff9674;
$focusBgColor: #FFF2ED;
$titleColor: #363853;
$defaultColor: #31352b;
$accentColor: #c2c2c2;
$accentLightColor: #ececec;
$bgColor: #f9faff;
$cardBgColor: #ffffff;
$borderColor: #000000;
$headerBgColor: #ecedf2;
$borderFocusColor: #c2c2c200;
$bgLineColor: #EEEFF3;
$burgerBtnColor: $titleColor;

$burgerBtnWidth: 30px;
$burgerBtnHeight: 22px;
$burgerBtnLineHeight: 2px;
$burgerBtnSpaceBetween: 8px;

$popupBurgerBtnWidth: 18px;
$popupBurgerBtnheight: 18px;
$popupBurgerBtnLineWidth: 25px;
$popupBurgerBtnLineHeight: 1.5px;
$popupBurgerBtnSpaceBetween: 6.5px;






%rubik-300 { 
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 { 
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-italic { 
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: 400;
}

%rubik-500 { 
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}




$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
)