$primaryColor: #ff6838;
$secondaryColor: #ff7a50;
$hoverBgColor: #ffae94;
$focusShdadowColor: #ff9674;
$focusBgColor: #fff2ed;
$titleColor: #363853;
$defaultColor: #31352b;
$breadcrumbsArrowColor: #505050;
$breadcrumbsBgColor: #ff7a501a;
$accentColor: #c2c2c2;
$accentLightColor: #ececec;
$bgColor: #f9faff;
$cardBgColor: #ffffff;
$borderColor: #000000;
$headerBgColor: #edeef3;
$borderFocusColor: #c2c2c200;
$bgLineColor: #EEEFF3;
$burgerBtnColor: $titleColor;
$heroBg: #f9faffd9;
$checkboxColor: #FAEDED;
$starColor: #FFB800;
$productLineColor: #E4E4E4;
$fancyArrowsColor: #505050;
$checkBoxColor: #C1C1C1;

$burgerBtnWidth: 30px;
$burgerBtnHeight: 22px;
$burgerBtnLineHeight: 2px;
$burgerBtnSpaceBetween: 8px;

$popupBurgerBtnWidth: 18px;
$popupBurgerBtnheight: 18px;
$popupBurgerBtnLineWidth: 25px;
$popupBurgerBtnLineHeight: 1.5px;
$popupBurgerBtnSpaceBetween: 6.5px;






%rubik-300 { 
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

%rubik-400 { 
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

%rubik-italic { 
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: 400;
}

%rubik-500 { 
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


%checkbox-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}





$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px,

  "phoneHeight": 560px,
  "tabletHeight": 768px,
  "tablet-2Heigth": 992px,
  "desktopHeight": 1230px
)