@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'mixin';
@import 'global';


// -----------------------------HEADER-----------------------------------------


.header { 
  &__logo { 
    margin-right: auto;

    @include mq ('tablet-2') { 
      width: 172px;
      height: 34px;
    }

    @include mq ('phone') { 
      width: 116px;
      height: 23px;
    }
  }

  &__fixed { 
    @include mq('tablet-2') { 
      padding: 43px 0;
    }
    @include mq('tablet') { 
      padding: 28px 0 29px;
    }
    @include mq('phone') { 
      padding: 13px 0 14px;
    }
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 57px 0;
    transition: padding 0.3s ease, background-color 0.3s ease;

    &--scroll { 
      @include mq('tablet-2') { 
        padding: 25px 0;
      }
  
      @include mq('tablet') { 
        padding: 20px 0;
      }
  
      @include mq('phone') { 
        padding: 13px 0;
      }

      @include mqheight('phoneHeight') { 
        padding: 10px 0;
      }
  
      padding: 25px 0;
      background-color: $headerBgColor;
    }
  }

  &__inner { 
    align-items: center;
  }

  &__menu { 
    @include mq('tablet-2') { 
      margin-right: 30px;
    }

    @include mq('tablet') { 
      display: none;
    }

    margin-right: 52px;
    line-height: 2.1;
  }

  &__user-nav { 
    @include mq('tablet') { 
      margin-right: 20px;
    }

    @include mq('phone') { 
      margin-right: 10px;
    }
  }
}

.menu { 
  & > *:not(:last-child) { 
    margin-right: 45px;

    @include mq('tablet-2') { 
      margin-right: 30px;
    }
  }

  &__link { 
    font-size: 18px;
  }

  &__link--active { 
    color: $primaryColor;
  }
}

.user-nav { 
  & > *:not(:last-child) { 
    margin-right: 10px;
  }

  &__btn { 
    position: relative;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding-top: 1px;
    border-radius: 5px;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;

    &:focus { 
      background-color: rgba($secondaryColor, 0.1);
      box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
    }

    &:hover { 
      background-color: $secondaryColor;

      .user-nav__img { 
        stroke: $cardBgColor;
      }

      .user-nav__value { 
        color: $secondaryColor;
        background-color: $cardBgColor;
      }
    }

    &:active { 
      box-shadow: none;
      background-color: $focusBgColor;

      .user-nav__img { 
        stroke: $titleColor;
      }

      .user-nav__value { 
        color: $cardBgColor;
        background-color: $primaryColor;
      }
    }
  }

  &__img { 
    transition: stroke 0.4s ease;
    stroke-width: 1.5;
    stroke: $titleColor;
    fill: transparent;
  }

  &__value { 
    position: absolute;
    top: 8px;
    left: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 1;
    color: $cardBgColor;
    background-color: $primaryColor;
    border-radius: 50%;
    transition: color 0.6s ease, background-color 0.6s ease;
  }
}

.burger-btn { 
  display: none;
  @include burger-btn;
  @include mq('tablet') { 
    display: block;
  }
}

.burger-menu { 
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  height: 100vh;
  background-color: $cardBgColor;
  opacity: 0;
  transition: left 200ms linear, opacity 0.3s ease;
  overflow-y: scroll;

  &__top { 
    padding: 22px 0 25px;
  }

  &__top-inner { 
    display: flex;
    align-items: center;
  }

  &__logo { 
    display: block;
    margin-right: 28px;
  }

  .burger-btn { 
    display: block;
    position: relative;
    width: $popupBurgerBtnWidth;
    height: $popupBurgerBtnheight;
    
    &__line { 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-35%);
      width: $popupBurgerBtnLineWidth;
      height: $popupBurgerBtnLineHeight;
      background-color: transparent;
      &::before,
      &::after { 
        height: $popupBurgerBtnLineHeight;
        transform-origin: left;
        border-radius: 10px;
      }

      &::before { 
        transform: rotate(45deg);
        bottom: calc($burgerBtnLineHeight + $popupBurgerBtnSpaceBetween);
      }

      &::after { 
        top: calc($burgerBtnLineHeight + $popupBurgerBtnSpaceBetween);
        transform: rotate(-45deg) translateX(-1px);
      }
    }
  }

  &__menu-wrapper { 
    position: relative;

    &::before,
    &::after { 
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $bgLineColor;
    }

    &::before { 
      top: -3px;
    }

    &::after { 
      bottom: 0;
    }
  }

  &__menu { 
    padding: 12px 0;
  }

  .menu > *:not(:last-child){ 
    margin-right: 0;
  }

  &__address-wrapper { 
    padding-top: 15px;
  }

  .socials { 
    padding-top: 1px;
    margin-left: -3px;

    & > *:not(:last-child) { 
      margin-right: 8px;
    }
  }

  &--active { 
    left: 0;
    opacity: 1;
  }
}


// ------------------------------HERO------------------------------------------


.hero { 
  @include mq('tablet-2') { 
    margin-top: 129px;
    padding: 121px 0;
  }

  @include mq('tablet') { 
    margin-top: 99px;
    padding: 65px 0;
  }

  @include mq('phone') { 
    margin-top: 72px;
    padding: 25px 0;
  }
  
  margin-top: 159px;
  padding: 156px 0 155px;

  &__inner { 
    position: relative;
  }

  &__bg { 
    @include mq('tablet-2') { 
      width: 488px;
      height: 540px;
    }

    @include mq('tablet') { 
      width: 416px;
      height: 420px;

      &::before { 
        content: "";
        position: absolute;
        inset: 0;
        background-color: $heroBg;
      }
    }

    @include mq('phone') { 
      width: 345px;
      height: 300px;
    }
    
    right: 0;
    width: 560px;
    height: 660px;
  }

  &__content { 
    @include mq('tablet-2') { 
      max-width: 375px;
    }

    max-width: 450px;

    & > *:not(:last-child) { 
      margin-bottom: 20px;
    }
  }

  &__title { 
    @include mq('tablet-2') { 
      font-size: 53px;
    }

    @include mq('phone') { 
      font-size: 40px;
    }

    margin-top: auto;
    font-size: 66px;
    @extend %rubik-500;
    text-transform: uppercase;
    color: $titleColor;
    @include line-clamp(2);
  }

  &__title-emphasized { 
    display: block;
    color: $primaryColor;
  }

  &__subtitle { 
    opacity: 1;
    @include line-clamp(3);
  }

  &__buttons { 
    align-items: center;
  }

  &__btn { 
    @include mq('tablet') { 
      font-size: 16px;
      padding: 10px 28px;
    }
  
    @include mq('phone') { 
      font-size: 14px;
      margin-right: 27px;
      padding: 8px 24px;
    }
  
    margin-right: 34px;
  }

  &__more { 
    @include mq('tablet-2') { 
      font-size: 18px;
    }
  
    @include mq('phone') { 
      font-size: 16px;
    }
  }
}


//------------------------------POPULAR-CATEGORIES----------------------------------------


.popular-categories { 
  &__title { 
    @include mq('phone') { 
      margin-bottom: 28px;
    }

    margin-bottom: 57px;
  }

  &__buttons { 
    @include mq('phone') { 
      gap: 10px;
      margin-bottom: 27px;
    }

    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
    width: fit-content;
    max-width: 100%;
    margin: 0 -2px 42px;
    padding: 2px;
    overflow: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item { 
    align-self: center;
    width: fit-content;
  }

  &__btn { 
    @include mq('tablet-2') { 
      padding: 17px 27px;
      font-size: 16px;
    }
    @include mq('phone') { 
      padding: 11px 16px;
      font-size: 14px;
    }

    justify-content: center;
    align-items: center;
    padding: 13px 32px;
    white-space: nowrap;
    color: $titleColor;
    background-color: $cardBgColor;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $accentLightColor;
    transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;

    &:focus { 
      box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
    }

    &:hover { 
      color: $primaryColor;
      background-color: rgba($secondaryColor, 0.1);
      box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);

      .popular-categories__icon { 
        fill: $primaryColor;
      }
    }

    &:active { 
      color: $titleColor;
      background-color: $cardBgColor;
      box-shadow: 0 0 0 2px transparent, 0 -5px 12px 0 rgba($primaryColor, 0.2) inset;

      .popular-categories__icon { 
        fill: $titleColor;
      }
    }

    &--active { 
      color: $cardBgColor;
      background-color: $primaryColor;

      .popular-categories__icon { 
        fill: $cardBgColor;
      }
      
      &:hover { 
        color: $cardBgColor;
        background-color: $primaryColor;
        box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);

        .popular-categories__icon { 
          fill: $cardBgColor;
        }
      }
    }
  }

  &__icon { 
    @include mq('tablet-2') { 
      width: 32px;
      height: 32px;
    }

    @include mq('phone') { 
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    margin-right: 10px;
    fill: $titleColor;
    transition: fill 0.6s ease;
  }

  &__products { 
    @include mq('desktop') { 
      gap: 25px;
    }

    @include mq('tablet-2') { 
      gap: 15px;
      margin-bottom: 50px;
    }

    @include mq('tablet') { 
      margin-bottom: 40px;
    }

    @include mq('phone') { 
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 10px 5px;
      margin-bottom: 30px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__more { 
      display: block;
      margin: 0 auto;
  }

}

.product-card { 
  @include mq('desktop') { 
    max-width: 100%;
  }

  flex: 1 1 auto;
  flex-direction: column;
  max-width: 210px;
  padding-bottom: 20px;
  background-color: $cardBgColor;
  box-shadow: 0 0 0 1px $accentLightColor;
  border-radius: 5px;
  transition: box-shadow 0.6s ease;

  &:hover { 
    box-shadow: 0 0 0 1px $primaryColor;
  }

  &__link { 
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 15px 0;
    text-align: center;
  }

  &__img { 
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  &__label { 
      flex: 1 1 auto;
      max-width: 100%;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.250;
      @include line-clamp(2);
  }

  &__price { 
    margin-top: 10px;
    font-size: 15px;
    @extend %rubik-500;
    color: $titleColor;
  }

  &__btn { 
    max-width: 100%;
    margin: 0 auto;
    padding: 7px 16px;
    font-size: 14px;
    letter-spacing: normal;
  }
}

//------------------------------FEATURES---------------------------------------


.features { 
  &__inner { 
    @include mq('desktop') { 
      padding: 58px 0;
    }

    @include mq('phone') { 
      padding: 25px 0;
    }

    position: relative;
    padding: 58px 70px 58px 0;
  }

  &__bg { 
    @include mq('phone') { 
      left: 0;
    }
    @include mq('tablet-2') { 
      &::before { 
        content: '';
        position: absolute;
        inset: 0;
        background-color: $heroBg;
      }
    }

    left: 6%;
    max-width: 440px;
    max-height: 585px;
  }

  &__content { 
    @include mq('desktop') { 
      max-width: 450px;
    }

    max-width: 470px;
    margin-left: auto;

    & > *:not(:last-child) { 
      margin-bottom: 30px;
    }
  }

  &__title { 
    text-align: left;
    @include line-clamp(3);
  }

  &__subtitle { 
    @include line-clamp(4);
  }

  .features__items { 
    @include mq('phone') { 
      margin-bottom: 19px;
    }

    margin-bottom: 29px;
  }

  &__items > *:not(:last-child) { 
    @include mq('phone') { 
      margin-bottom: 15px;
    }
    margin-bottom: 17px;
  }

  &__item { 
    @include mq('tablet-2') { 
      font-size: 22px;
    }

    @include mq('tablet') { 
      font-size: 20px;
    }

    @include mq('phone') { 
      padding-left: 45px;
      font-size: 18px;
      line-height: 1.9;
    }
    
    position: relative;
    padding-left: 64px;
    color: $titleColor;
    font-size: 24px;
    line-height: 1.6;
    @include line-clamp(1);

    &::before { 
      @include mq('tablet-2') { 
        background-position: -34px 0;
      }

      @include mq('tablet') { 
        background-position: -34px -1px;
      }

      @include pseudo;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;
      background-position: -34px 1px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--delivery::before { 
      background-image: url("../images/sprite.svg#icon-watch");
      filter: invert(56%) sepia(60%) saturate(4104%) hue-rotate(338deg) brightness(105%) contrast(101%);
    }

    &--couriers::before { 
      background-image: url("../images/sprite.svg#icon-delivery");
      filter: invert(52%) sepia(51%) saturate(3658%) hue-rotate(171deg) brightness(101%) contrast(104%);
    }

    &--establishments::before { 
      background-image: url("../images/sprite.svg#icon-shop");
      filter: invert(22%) sepia(47%) saturate(5740%) hue-rotate(349deg) brightness(101%) contrast(103%);
    }
  }

  &__btn { 
    @include mq('phone') { 
      padding: 12px 31px;
      font-size: 14px;
    }
  }
}


//------------------------------RESTAURANTS------------------------------------


.restaurants { 
  &__title { 
    @include mq('phone') { 
      margin-bottom: 14px;
    }
    
    margin-bottom: 45px;
  }

  &__list { 
    @include mq('tablet-2') { 
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include mq('phone') { 
      grid-template-columns: minmax(200px, 1fr);
      gap: 10px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    & .slick-list { 
      padding: 15px 0 20px;
    }
  }

}

.rest-card { 
  flex: 1 1 auto;
  max-width: 100%;
  box-shadow: 0 3px 3px 0 rgba($borderColor, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.6s ease;

  &:hover { 
    box-shadow: 0 3px 15px 0 rgba($primaryColor, 0.5);
  }

  &__link { 
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;

    &:focus { 
      .rest-card__go { 
        background-color: $focusBgColor;
        box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
      }
  
      .rest-card__go-arrow { 
        fill: $primaryColor;
      }
    }

    &:hover { 
      .rest-card__go { 
        background-color: transparent;
        box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
      }
      
      .rest-card__go-arrow { 
        transform: translateX(20px);
        fill: $primaryColor;
      }
    }

    &:active { 
      .rest-card__go { 
        background-color: $focusBgColor;
        box-shadow: 0 0 0 2px transparent;
      }
    }
  }

  &__img { 
    width: 100%;
    object-fit: cover;
  }

  &__info { 
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    padding: 15px 20px 20px;
    background-color: $cardBgColor;
  }

  &__label { 
      flex: 1 1 auto;
      width: 100%;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 400;
      @include line-clamp(1);
  }

  &__info-row { 
    align-items: center;
    justify-content: space-between;
  }

  &__time { 
    position: relative;
    padding-left: 32px;
    font-size: 18px;
    line-height: 1.4;
    @extend %rubik-300;
    opacity: 0.9;

    &::before { 
      @include pseudo;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("../images/sprite.svg#icon-time") -22px 0/ cover no-repeat;
      filter: invert(16%) sepia(30%) saturate(253%) hue-rotate(42deg) brightness(98%) contrast(91%);
    }
  }

  &__go { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 33px;
    background-color: $primaryColor;
    border-radius: 20px;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
  }

  &__go-arrow { 
    fill: $cardBgColor;
    transition: transform 0.6s ease, fill 0.6s ease;
  }
}

//------------------------------TESTIMONIALS-----------------------------------


.testimonials { 
  position: relative;

  &__title { 
    @include mq('phone') { 
      margin-bottom: 30px;
    }

    margin-bottom: 45px;
  }

  &__quote-inner { 
    @include mq('tablet-2') { 
      margin-left: 50px;
    }

    @include mq('tablet') { 
      margin-left: 20px;
    }

    @include mq('phone') { 
      flex-direction: column;
      margin-left: 0;
    }

    align-items: center;
    margin-left: 90px;
  }
  
  &__userpic { 
    @include mq('tablet-2') { 
      max-width: 240px;
      height: 240px;
    }

    @include mq('tablet') { 
      max-width: 180px;
      height: 180px;
      margin-right: 20px;
    }

    @include mq('phone') { 
      width: 100px;
      height: 100px;
      margin-bottom: 29px;
      margin-right: 0;
    }

    max-width: 300px;
    width: 100%;
    height: 300px;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  &__quote-content { 
    max-width: 650px;
  }

  &__blockquote { 
    @include mq('tablet-2') { 
      margin-bottom: 28px;
      font-size: 18px;
    }

    @include mq('tablet') { 
      margin-bottom: 24px;
      font-size: 16px;
    }

    @include mq('phone') { 
      @include line-clamp(8);
      margin-bottom: 21px;
      margin-top: -20px;
      padding: 20px 40px 0;
      font-size: 14px;
    }

    position: relative;
    margin-bottom: 30px;
    padding: 0 40px;
    line-height: 1.5;
    @extend %rubik-italic;
    @include line-clamp(5);

    &::before,
    &::after { 
      @include pseudo;
      width: 24px;
      height: 20px;
      background-position: -18px 0;
      background-size: cover;
      background-repeat: no-repeat;
      filter: invert(89%) sepia(0%) saturate(628%) hue-rotate(146deg) brightness(84%) contrast(105%);
    }

    &::before { 
      @include mq('phone') { 
        top: 12px;
        left: 6px;
      }

      top: 0;
      left: 0;
      transform: scaleX(-1);
      background-image: url("../images/sprite.svg#icon-quote");
    }

    &::after { 
      @include mq('phone') { 
        bottom: 10px;
        right: 6px;
      }

      bottom: 0;
      right: 0;
      background-image: url("../images/sprite.svg#icon-quote");
    }
  }

  &__author { 
    @include mq('tablet') { 
      font-size: 18px;
    }

    @include mq('phone') { 
      font-size: 16px;
    }

    padding-left: 40px;
    @extend %rubik-500;
    color: $primaryColor;
  }

  &__author-descr { 
    @include mq('phone') { 
      margin-top: 10px;
    }
    
    max-width: 100%;
    margin-top: 15px;
    font-size: 14px;
    @extend %rubik-400;
    color: $defaultColor;
    @include line-clamp(2);
  }
  
  .slick-list { 
    margin-bottom: 50px;
  }

  &__btn { 
    @include mq('tablet-2') { 
      top: 95%;
    }

    @include mq('tablet') { 
      top: 94%;
    }
    
    @include mq('phone') { 
      top: 131px;
    }

    position: absolute;
    top: 95.5%;
    padding: 0;
    font-size: 0;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.6s ease;
  
    &:focus { 
      box-shadow: 0 0 0 2px $focusShdadowColor;
    }
  
    &:hover .testimonials__btn-img { 
      background-color: rgba($secondaryColor, 0.1);
      border-color: $hoverBgColor;
      fill: $hoverBgColor;
    }
  
    &:active { 
      box-shadow: none;
    }
  
    &:active .testimonials__btn-img { 
      background-color: rgba($secondaryColor, 0.1);
      fill: $secondaryColor;
      border-color: transparent;
    }
  
    &--prev { 
      @include mq('phone') { 
        left: calc(50% - 137px)
      }

      left: calc(50% - 112px);
    }
    
    &--next { 
      @include mq('phone') { 
        right: calc(50% - 137px)
      }

      right: calc(50% - 112px);
    
      .testimonials__btn-img { 
        transform: rotate(180deg);
      }
    }
  }

  &__btn-img { 
    border: 3px solid $accentColor;
    border-radius: 50%;
    fill: $accentColor;
    transition: background-color 0.6s ease, fill 0.6s ease, border-color 0.6s ease;
  }

  .slick-disabled .testimonials__btn-img { 
    fill: $secondaryColor;
    border-color: $secondaryColor;
  }

  &__slick-dots { 
    @include mq('phone') { 
      display: none !important;
    }
  }
}


//-----------------------------------APP---------------------------------------


.app { 
  @include mq('tablet-2') { 
    padding-top: 120px;
  }

  @include mq('phone') { 
    margin-top: -50px;
    padding: 0;
  }

  padding-top: 135px;

  &__inner { 
    position: relative;
  }

  &__content { 
    @include mq('tablet-2') { 
      max-width: 540px;
    }

    position: relative;
    padding: 40px 0;
    max-width: 540px;
    z-index: 1;
  }

  &__bg { 
    @include mq('tablet-2') { 
      &::before { 
        content: "";
        position: absolute;
        inset: 0;
        background-color: $heroBg;
      }
    }

    @include mq('phone') { 
      display: none;
    }

    right: 0;
    max-width: 570px;
    max-height: 380px;
    background-position: 0 0;
  }

  &__title { 
    @include mq('phone') { 
      margin-bottom: 15px;
    }

    text-align: left;
    margin-bottom: 45px;
    @include line-clamp(2);
  }

  &__subtitle { 
    @include mq('desktop') { 
      font-size: 18px;
    }

    @include mq('phone') { 
      margin-bottom: 14px;
      font-size: 14px;
    }

    margin-bottom: 30px;
    @include line-clamp(3);
  }

  &__links { 
    & > *:not(:last-child) { 
      margin-right: 30px;
    }
  }

  &__link { 
    height: 40px;
    border-radius: 5px;

    &--app-store { 
      width: 120px;
    }
  
    &--google-play { 
      width: 135px;
    }
  }
}


// ---------------------------------FOOTER-------------------------------------

.footer { 
  @include mq('phone') { 
    padding: 0;
  }
}

.footer-top { 
  @include mq('phone') { 
    padding-bottom: 49px;
  }

  position: relative;
  padding-bottom: 55px;

  &__inner { 
    @include mq('tablet-2') { 
      grid-template-columns: auto 1fr;
    }

    @include mq('phone') { 
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    display: grid;
    grid-template-columns: 200px auto 180px;
    justify-content: start;
    gap: 3.7vw;
  }

  &__column { 
    @include mq('phone') { 
      margin-bottom: 16px;
    }
    max-width: 200px;
  }

  &__logo { 
    margin-bottom: 30px;
  }

  &__form-input { 
    max-width: 200px;
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    padding: 13px 15px;
    font-size: 14px;
    background-color: $cardBgColor;
    border-radius: 5px;
    border: 1px solid $accentColor;
    transition: border 0.6s ease, box-shadow 0.6s ease;

    &::placeholder { 
      color: $accentColor;
      opacity: 0.9;
      transition: color 0.6s ease, opacity 0.6s ease;
    }

    &:focus { 
      border: 1px solid $borderFocusColor;
      box-shadow: 0 0 0 2px $primaryColor;
    }

    &:hover::placeholder { 
      color: $titleColor;
    }
  }

  &__form-btn { 
    justify-content: center;
    align-items: center;
    padding: 13px 39px;
    font-size: 14px;
    letter-spacing: normal;
    @extend %rubik-500;

    &:focus { 
      .footer-top__form-btn-icon { 
        fill: $primaryColor;
      }
    }

    &:hover { 
      .footer-top__form-btn-icon { 
        fill: $primaryColor;
      }
    }

    &:active { 
      .footer-top__form-btn-icon { 
        fill: $primaryColor;
      }
    }
  }

  &__form-btn-icon { 
    width: 16.5px;
    height: 15.6px;
    margin-right: 15px;
    fill: $cardBgColor;
    transition: fill 0.6s ease;
  }

  &::after { 
    @include pseudo;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $accentColor;
    opacity: 0.2;
  }
}

.footer-menu { 
  @include mq('tablet') { 
  }

  @include mq('tablet-2') { 
    order: 3;
    grid-column: 1/4;
  }

  @include mq('phone') {
    grid-column: auto;
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  gap: 3.7vw;

  &__list { 
    width: fit-content;

    & > *:not(:last-child) { 
      margin-bottom: 20px;
    }
  }

  &__item { 
    line-height: 1.15;
  }

  &__link { 
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.18px;
    white-space: nowrap;
  }
}

.contacts { 
  @include mq('tablet-2') { 
    order: 2;
  }

  @include mq('phone') { 
    margin-bottom: 15px;
  }

  &__list { 
    margin-bottom: 12px;

    & > *:not(:last-child) { 
      margin-bottom: 15px;
    }
  }

  &__link { 
    align-items: center;
    width: fit-content;
    font-size: 16px;
    font-style: normal;
    line-height: 2;
    @include line-clamp(1);
  }

  &__icon { 
    width: 22px;
    height: 22px;
    margin-right: 8px;
    stroke-width: 1.5;
    fill: none;
    stroke: $defaultColor;
  }

  &__socials { 
    & > *:not(:last-child) { 
      margin-right: 7px;
    }
  }

  .socials { 
    &__link { 
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
  
      &:focus { 
        .socials__wrapper { 
          background-color: rgba($secondaryColor, 0.1);
          box-shadow: 0 0 0 2px rgba($primaryColor, 0.7);
        }
      }
  
      &:hover { 
        .socials__wrapper { 
          background-color: $secondaryColor;
        }
  
        .socials__icon { 
          fill: $cardBgColor;
        }
      }
  
      &:active { 
        .socials__wrapper { 
          background-color: $focusBgColor;
          box-shadow: none;
        }
  
        .socials__icon { 
          fill: $secondaryColor;
        }
      }
    }

    &__wrapper { 
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      background-color: $accentLightColor;
      border-radius: 50%;
      transition: background-color 0.6s ease, box-shadow 0.6s ease;
    }

    &__icon { 
      fill: $defaultColor;
      transition: fill 0.4s ease;
    }
  }
}

.footer-copy { 
  @include mq('phone') { 
    padding: 23px 0 15px;
  }

  display: block;
  padding: 33px 0 27px;
  font-size: 14px;
  text-align: center;
}


//--------------------------------CATALOG--------------------------------------

.breadcrumbs { 
  @include mq('tablet-2') { 
    margin-top: 129px;
  }

  @include mq('tablet') { 
    margin-top: 99px;
  }

  @include mq('phone') { 
    margin-top: 72px;
  }

  margin-top: 159px;
  padding: 24px 0;
  background-color: $breadcrumbsBgColor;

  &__list { }

  &__item { 
    position: relative;
    font-size: 14px;
    line-height: 1.15;

    &:not(:last-child) { 
      margin-right: 5px;
      padding-right: 12px;

      &::after { 
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 6px;
        height: 10px;
        background-image: url('../images/sprite.svg#icon-breadcrumbs-arrow');
        background-position: -12px 0;
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(100%) sepia(1%) saturate(2032%) hue-rotate(298deg) brightness(83%) contrast(80%);
      }
    }
  }

  &__link { 
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.42px;
    color: $breadcrumbsArrowColor;
  }

  &__link--active { }
}

.catalog { 
  @include mq('phone') { 
    padding-top: 40px;
  }

  padding-top: 60px;
  margin-bottom: -15px;

  &__top { 
    justify-content: space-between;
    margin-bottom: 60px;

    @include mq('tablet') { 
      flex-direction: column;
    }

    @include mq('phone') { 
      margin-bottom: 31px;
    }

    .title { 
      @include mq('tablet') { 
        margin-bottom: 20px;
        text-align: left;
      }
    }
  }

  .filter-btn { 
    display: none;
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 3px;
    background-color: $checkboxColor;

    @include mq('tablet') { 
      display: inline-flex;
    }

    &::before { 
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 36px;
      background-image: url("../images/sprite.svg#icon-filter-btn");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: invert(52%) sepia(86%) saturate(2564%) hue-rotate(337deg) brightness(102%) contrast(101%);
    }
  }

  &__filter-selects { 
    display: flex;
    align-items: center;

    & > *:not(:last-child) { 
      @include mq('phone') { 
        margin-right: 6px;
      }

      margin-right: 7px;
    }

    .jq-selectbox.focused .jq-selectbox__select { 
      border-color: $primaryColor;
    }

    .jq-selectbox:hover {
      .jq-selectbox__select-text { 
        color: $primaryColor;
      }

      .jq-selectbox__select { 
        border-color: $primaryColor;
      }

      .jq-selectbox__trigger-arrow { 
        filter: invert(59%) sepia(33%) saturate(5783%) hue-rotate(336deg) brightness(100%) contrast(102%);
      }
    }

    .jq-selectbox.opened {
      .jq-selectbox__select-text { 
        color: $defaultColor;
      }

      .jq-selectbox__select { 
        border-color: $accentColor;
      }

      .jq-selectbox__trigger-arrow { 
        filter: invert(83%) sepia(5%) saturate(28%) hue-rotate(316deg) brightness(91%) contrast(97%);
      }
    }

    & .jq-selectbox { 
      z-index: 1;
    }

    & .jq-selectbox__select { 
      @include mq('phone') { 
        padding: 15px 33px 10px 10px;
      }

      height: auto;
      padding: 15px 41px 13px 13px;
      background: none;
      background-color: $cardBgColor;
      border: 1px solid $accentColor;
      border-radius: 3px;
      box-shadow: none;
      transition: border-color 0.6s ease;
    }

    & .jq-selectbox__select-text { 
      line-height: 1.2;
      letter-spacing: 0.42px;
      @extend %rubik-400;
      color: $defaultColor;
      transition: color 0.6s ease;
    }

    & .jq-selectbox__trigger { 
      @include mq('phone') { 
        right: -5px;
      }

      border: none;
    }

    & .jq-selectbox__trigger-arrow { 
      top: 17px;
      left: 10px;
      transform: rotate(90deg);
      width: 7px;
      height: 11px;
      border: none;
      background-image: url('../images/sprite.svg#icon-breadcrumbs-arrow');
      background-position: -13px 0;
      background-size: cover;
      background-repeat: no-repeat;
      filter: invert(83%) sepia(5%) saturate(28%) hue-rotate(316deg) brightness(91%) contrast(97%);
      transition: filter 0.6s ease;
    }

    & .jq-selectbox__dropdown { 
      top: 47px;
    }
  }

  &__content { 
  }

  &__content-inner { 
    width: 100%;

    & .pagination { 
      @include mq('phone') { 
        margin-bottom: 51px;
      }

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__products { 
    @include mq('desktop') { 
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq('tablet-2') { 
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('phone') { 
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-rows: repeat(3, 1fr);
      gap: 10px 4px;
      margin-bottom: 29px;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    align-self: start;
    gap: 10px;
    margin-bottom: 60px;
  }

  &__products-item { 
      &:nth-child(n+7) { 
        @include mq('phone') { 
          display: none;
        }
      }

    display: flex;
  }


  &__filters { 
    @include mq('desktop') { 
      margin-right: 20px;
    }

    @include mq('tablet-2') { 
      margin-right: 20px;
    }

    @include mq('tablet') { 
      position: fixed;
      left: -300%;
    }
    margin-right: 30px;
    & > *:not(:last-child) { 
      margin-bottom: 30px;
    }

    width: 270px;
    flex-shrink: 0;
    transition: left 0.4s ease;
  }
}

.filter { 
  

  &__item { 
    width: 100%;
    border: 1px solid $accentLightColor;
    border-radius: 5px;
    background-color: $cardBgColor;
  }

  &__title { 
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.72px;
    color: $titleColor;
    border-bottom: 1px solid $accentLightColor;
  }
}

.filter-categories { 
  &__list { 
    padding: 25px 15px 23px;
  }

  &__item { 
    font-size: 18px;
    line-height: 0;
    color: $defaultColor;

    &:not(:last-child) { 
      margin-bottom: 12px;
    }
  }

  &__link { 
    line-height: 1.28;
    letter-spacing: 0.54px;
    color: inherit;
  }

  &__link--active { 
    color: $primaryColor;
  }
}

.filter-offers { 
  &__form { 
    padding: 25px 15px 25px 14px;
  }

  &__label { 
    position: relative;
    display: block;
    padding-left: 36px;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.54px;
    color: $defaultColor;
    transition: color 0.6s ease;

    &:not(:last-child) { 
      margin-bottom: 10px;
    }

    &:hover { 
      color: $primaryColor;

      & .filter-offers__checkbox { 
        border: 1px solid $primaryColor;
      }
    }
  }

  &__input { 
    @extend %checkbox-hidden;

    &:checked + .filter-offers__checkbox { 
      border-color: $titleColor;
      background-image: url('../images/sprite.svg#icon-check');
      background-position: center;
      background-size: 35px 10px;
      background-repeat: no-repeat;
    }

    &:focus + .filter-offers__checkbox { 
      border: 1px solid $primaryColor;
    }
  }

  &__checkbox { 
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid $accentLightColor;
    border-radius: 3px;
    background-color: $checkboxColor;
    transition: border 0.6s ease;
  }
}

.filter-range { 
  & .filter__title { 
    padding: 15px 15px 13px;
  }

  &__form { 
    max-width: 240px;
    margin: 0 auto;
    padding: 24px 0;
  }

  &__label { 
  }

  &__input { }

  &__extra-controls { 
    justify-content: space-between;

    & > *:not(:last-child) { 
      margin-right: 21px;
    }
  }

  &__price { 
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.48px;
    border: 1px solid $checkboxColor;
    border-radius: 3px;
    color: $defaultColor;
    background-color: $checkboxColor;
    transition: border 0.6s ease;

    &:focus { 
      border: 1px solid $primaryColor;
    }
  }

  &__text { 
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    color: $accentColor;
  }

  &__from { }

  &__to { }

  .irs-from,
  .irs-to,
  .irs-min,
  .irs-max { 
    display: none;
  }

  .irs-line { 
    top: 34px;
    height: 2px;
    background-color: $accentColor;
  }

  .irs-bar { 
    top: 34px;
    height: 2px;
    background-color: $primaryColor;
  }

  .irs-handle { 
    top: 26px;
    width: 18px;
    height: 18px;
    border: none;
    box-shadow: none;
    background-color: $primaryColor;

    &:hover { 
      background-color: $secondaryColor;
    }
  }

  .irs--round { 
    height: 44px;
  }
}

.pagination { 
  @include mq('phone') { 
    margin-bottom: 60px;
  }
  display: inline-flex;

  

  &__item { 
    &:nth-child(3),
    &:nth-child(5) { 
    @include mq('phone') { 
      display: none;
    }
  }
    &:not(:last-child) { 
      margin-right: 6px;
    }
  }

  &__link { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.54px;
    border-radius: 3px;
    color: $titleColor;
    background-color: $checkboxColor;
    box-shadow: 0px 0px 0px 2px transparent, 0px -1px 4px 2px transparent inset;
    transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;
  }

  &__link--active { 
    border: 1px solid $titleColor;
  }

  &__link--animation { 
    &:focus { 
      box-shadow: 0px 0px 0px 2px $primaryColor;
    }

    &:hover { 
      background-color: $primaryColor;
      color: $cardBgColor;
    }

    &:active { 
      color: $titleColor;
      background-color: $checkboxColor;
      box-shadow: 0px -1px 4px 2px rgba($borderColor, 0.15) inset;
    }

    &:hover::before { 
      filter: invert(100%) sepia(35%) saturate(1217%) hue-rotate(193deg) brightness(110%) contrast(109%);
    }

    &:active::before { 
      filter: invert(17%) sepia(4%) saturate(5079%) hue-rotate(198deg) brightness(105%) contrast(85%);
    }
  }

  &__nav { 
    position: relative;

    &::before { 
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
      height: 18px;
      background-image: url('../images/sprite.svg#icon-breadcrumbs-arrow');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -21px 0;
      filter: invert(17%) sepia(4%) saturate(5079%) hue-rotate(198deg) brightness(105%) contrast(85%);
      transition: filter 0.6s ease;
    }
  }

  &__nav--active::before { 
    filter: invert(87%) sepia(0%) saturate(1%) hue-rotate(278deg) brightness(90%) contrast(90%);
  }

  &__prev { 
    transform: rotate(180deg);
  }

  &__next { 

  }

  &__more { }
}

.promotion { 
  @include mq('phone') { 
    margin-bottom: 40px;
    padding-top: 0;
  }

  padding-top: 120px;
  margin-bottom: -3px;

  .title { 
    @include mq('phone') { 
      margin-bottom: 40px;
      text-align: center;
    }
    text-align: left;
    margin-bottom: 60px;
  }

  &__list { 
    @include mq('tablet-2') { 
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mq('phone') { 
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 39px;
    }
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 30px;
  }

  &__item { 
    display: flex;
    flex: 1 1 auto;
  }

  .rest-card__info-label { 
    font-size: 24px;
    line-height: 1.3;
  }
}

.catalog__filters--hidden { 
  top: 0;
  left: 0;
  z-index: 10;
  width: 320px;
  height: 100vh;
  margin-right: 0;
  padding: 80px 50px 80px 0;
  background-color: $cardBgColor;
  overflow-y: auto;
}

.catalog__filters-btn { 
  @include mq('tablet') { 
    display: block;
  }

  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: $checkboxColor;
}

.catalog__filters-btn-line { 
  display: block;
  position: relative;
  left: 55%;
  transform: translateX(-50%);
  width: 18px;
  height: 1px;
  background-color: transparent;
  
  &::before,
  &::after { 
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: $defaultColor;
    border-radius: 3px;
    transform-origin: left;
  }

  &::before { 
    top: 5px;
    left: 0;
    transform: rotate(-45deg);
  }

  &::after { 
    top: -8px;
    left: 0;
    transform: rotate(45deg);
  }
}

.footer-top--catalog { 
  padding-bottom: 52px;

  &::after { 
    bottom: -1px;
  }
}

.footer-copy--catalog { 
  background-color: $cardBgColor;
  padding-top: 20px;
}


//------------------------------PRODUCT-PAGE------------------------------------------

.fancybox-container { 
}

.product-page { 
  &__top { }

  .slick-slider { 
    display: flex;
    align-items: center;
  }

  

  &__gallery { 
    width: 610px;
    height: 550px;
    border-radius: 5px;
    background-color: $cardBgColor;

    

    .slick-list { 
      width: 400px;
      height: 400px;
      margin: 0 auto;
    }

    .slick-prev { 
      transform: rotate(180deg);
    }

    .slick-arrow { 
      position: relative;
      width: 60px;
      height: 60px;
      font-size: 0;
      
      &::before { 
        content: "";
        position: absolute;
        width: 19px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../images/sprite.svg#icon-breadcrumbs-arrow');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(19%) sepia(19%) saturate(963%) hue-rotate(197deg) brightness(99%) contrast(90%);
      }
    }
  }

  &__gallery--popup { 
    position: absolute;
    inset: 54px 96px;
    z-index: 10;
    padding: 54px 96px;
    background-color: #000;
  }

  &__gallery-item { 
    width: 100%;
  }

  &__gallery-img { 
    object-fit: cover;
  }
}