      <section class="app" id="app">
        <div class="container">
          <div class="app__inner">
            <div class="app__content">
              <h2 class="title app__title">
                Скачайте мобильное приложение
              </h2>

              <p class="subtitle app__subtitle">
                Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте. 
              </p>

              <div class="app__links d-flex">
                <a class="app__link app__link--app-store" href="#" target="_blank" rel="noopener noreferrer">
                  <img class="app__link-img" src="./images/icons/icon-app-store.svg" width="120" height="40" alt="скачать приложение из App Store">
                </a>

                <a class="app__link app__link--google-play" href="#" target="_blank" rel="noopener noreferrer">
                  <img class="app__link-img" src="./images/icons/icon-google-play.svg"  width="135" height="40" alt="скачать приложение из Google Play">
                </a>
              </div>
            </div>

            <div class="app__bg sectioin-bg" style="background-image: url('./images/backgrounds/app/app-bg.jpg');">
              <span class="sr-only">
                Изображение мобильного приложения
              </span>
            </div>
          </div>
        </div>
      </section>