    <footer class="section footer" id="contacts">
      <div class="footer-top">
        <div class="container">
          <div class="footer-top__inner">
            <div class="footer-top__column">
              <a class="logo footer-top__logo" href="#header">
                <img class="logo__img" src="./images/logo.svg" width="200" height="39" alt="Логотип">
              </a>

              <form class="footer-top__form" action="#">
                <label class="sr-only" for="email">Ваш email</label>

                <input class="footer-top__form-input" type="email" placeholder="Ваш email" id="email" name="email" required>

                <button class="btn footer-top__form-btn d-flex" type="submit">
                  <svg class="footer-top__form-btn-icon" width="15" height="15">
                    <use xlink:href="images/sprite.svg#icon-telegram"></use>
                  </svg>
                    Подписаться
                </button>
              </form>
            </div>
            
            <nav class="footer-menu">
              <ul class="footer-menu__list">
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Как это работает
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Продукты
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Блюда
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Меню
                  </a>
                </li>
              </ul>

              <ul class="footer-menu__list">
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    О нас
                  </a>
                </li>
                
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Новости
                  </a>
                </li>
                
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Партнеры
                  </a>
                </li>
                
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    ЧаВо
                  </a>
                </li>
              </ul>

              <ul class="footer-menu__list">
                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#app">
                    Скачать приложение
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Блог
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Что нового?
                  </a>
                </li>

                <li class="footer-menu__item">
                  <a class="more animation-link footer-menu__link" href="#">
                    Карта сайта
                  </a>
                </li>
              </ul>
            </nav>

            <address class="contacts">
              <ul class="contacts__list">
                <li class="contacts__item contacts__item--map">
                  <a class="more animation-link contacts__link d-flex" href="#" target="_blank">
                    <svg class="contacts__icon" width="20" height="20">
                      <use xlink:href="images/sprite.svg#icon-map"></use>
                    </svg>
                    ул. Т.Г.Шевченко, 1
                  </a>
                </li>

                <li class="contacts__item contacts__item--tel">
                  <a class="more animation-link contacts__link d-flex" href="tel:380501112233">
                    <svg class="contacts__icon" width="20" height="20">
                      <use xlink:href="images/sprite.svg#icon-tel"></use>
                    </svg>
                    380501112233
                  </a>
                </li>

                <li class="contacts__item contacts__item--email">
                  <a class="more animation-link contacts__link d-flex" href="mailto:support@sfood.com">
                    <svg class="contacts__icon" width="20" height="20">
                      <use xlink:href="images/sprite.svg#icon-email"></use>
                    </svg>
                    support@sfood.com
                  </a>
                </li>
              </ul>

              <ul class="socials contacts__socials d-flex">
                <li class="socials__item">
                  <a class="socials__link d-flex" href="#" target="_blank" rel="noopener noreferrer">
                    <span class="sr-only">
                      Facebook
                    </span>
                    
                    <div class="socials__wrapper d-flex">
                      <svg class="socials__icon" width="10" height="21">
                        <use xlink:href="images/sprite.svg#icon-facebook"></use>
                      </svg>
                    </div>
                  </a>
                </li>

                <li class="socials__item">
                  <a class="socials__link d-flex" href="#" target="_blank" rel="noopener noreferrer">
                    <span class="sr-only">
                      Twitter
                    </span>

                    <div class="socials__wrapper d-flex">
                      <svg class="socials__icon" width="21" height="17">
                        <use xlink:href="images/sprite.svg#icon-twitter"></use>
                      </svg>
                    </div>
                  </a>
                </li>

                <li class="socials__item">
                  <a class="socials__link d-flex" href="#" target="_blank" rel="noopener noreferrer">
                    <span class="sr-only">
                      Instagram
                    </span>

                    <div class="socials__wrapper d-flex">
                      <svg class="socials__icon" width="20" height="20">
                        <use xlink:href="images/sprite.svg#icon-instagram"></use>
                      </svg>
                    </div>
                  </a>
                </li>
              </ul>
            </address>
          </div>
        </div>
      </div>
      
      <div class="footer-copy">
        <div class="container">
          <span class="footer-copy__text">
            © 2022 Simple Food
          </span>
        </div>
      </div>
    </footer>