<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.min.css">
    <!-- Общий favicon -->
    <link rel="icon" href="./images/favicon/favicon-32x32.ico" type="image/x-icon">
    <!-- Для IE 11 -->
    <link rel="shortcut icon" href="./images/favicon/favicon-16x16.ico" type="image/x-icon">
    <!-- Favicon для устройств Apple (iPhone, iPad) -->
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-touch-icon-152x152.png">
    <!-- Favicon для компьютеров с разными разрешениями -->
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <!-- Favicon для Safari (закрепленные вкладки) -->
    <link rel="mask-icon" href="./images/favicon/favicon-16x16.svg" color="#5bbad5">
    <title>SimpleFood - Доставка еды | @pageTitle</title>
  </head>

  <body class="d-flex">