<ul class="pagination">
  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation pagination__nav pagination__nav--active pagination__prev" href="#"></a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation pagination__link--active" href="#">
      1
    </a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation" href="#">
      2
    </a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation pagination__more" href="#">
      ...
    </a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation" href="#">
      9
    </a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation" href="#">
      10
    </a>
  </li>

  <li class="pagination__item">
    <a class="pagination__link pagination__link--animation pagination__nav pagination__next" href="#"></a>
  </li>
</ul>