      <div class="product-page">
        <div class="product-page__top">
          <div class="container">
            <div class="product-page__top-inner d-flex">
              <ul class="product-page__carousel" id="myCarousel">
                <li class="product-page__gallery-slide" data-src="../../images/content/product-page/cheeseburger.jpg" data-fancybox="gallery">
                  <img class="product-page__carousel-img" src="../../images/content/product-page/cheeseburger.jpg" width="400" height="400" alt="Чизбургер с листьями салата">
                </li>

                <li class="product-page__gallery-slide" data-src="../../images/content/product-page/cheeseburger.jpg" data-fancybox="gallery">
                  <img class="product-page__carousel-img" src="../../images/content/product-page/cheeseburger.jpg" width="400" height="400" alt="Чизбургер с листьями салата">
                </li>

                <li class="product-page__gallery-slide" data-src="../../images/content/product-page/cheeseburger.jpg" data-fancybox="gallery">
                  <img class="product-page__carousel-img" src="../../images/content/product-page/cheeseburger.jpg" width="400" height="400" alt="Чизбургер с листьями салата">
                </li>
              </ul>

              <div class="product-page__info">
                <h1 class="sr-only">Заголовок первого уровня</h1>
                <h2 class="sr-only">Заголовок второго уровня</h2>

                <h3 class="title product-page__title">
                  Чизбургер с листьями салата
                </h3>

                <div class="star product-page__star">
                  <span class="sr-only">
                    Звездный рейтинг
                  </span>
                </div>

                <span class="product-page__price">
                  160
                  <span class="product-page__price-currency">
                    грн.
                  </span>
                </span>

                <form class="product-page__buy" action="#">
                  <label class="sr-only" for="value">Поле ввода чисел</label>
                  <input class="product-page__buy-input" name="value" id="value" type="number" value="1" min="1" max="999">

                  <button class="product-page__buy-btn" type="submit">
                    <svg class="product-page__buy-img" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>

                    <span class="product-page__buy-btn-label">
                      Добавить в корзину
                    </span>
                  </button>
                </form>

                <div class="product-page__delivery">
                  <h4 class="product-page__delivery-title">
                    Доставка и оплата
                  </h4>

                  <ul class="product-page__delivery-terms">
                    <li class="product-page__delivery-item">
                      Минимальная сумма заказа — 160 грн.
                    </li>

                    <li class="product-page__delivery-item">
                      Время доставки заказа — 80-140 мин.
                    </li>

                    <li class="product-page__delivery-item">
                      Оплата осуществляется только банковской картой.
                    </li>

                    <li class="product-page__delivery-item">
                      Окончательная сумма заказа формируется после сбора товаров.
                    </li>
                  </ul>

                  <a class="more product-page__delivery-more" href="#">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-page__tabs">
          <div class="container">
            <div class="product-page__tabs-inner">
              <ul class="product-page__tabs-list">
                <li class="product-page__tabs-item">
                  <a class="product-page__tabs-link product-page__tabs-link--active" href="#tab-1">
                    Описание
                  </a>
                </li>
    
                <li class="product-page__tabs-item">
                  <a class="product-page__tabs-link" href="#tab-2">
                    Характеристики
                  </a>
                </li>
    
                <li class="product-page__tabs-item">
                  <a class="product-page__tabs-link" href="#tab-3">
                    Отзывы (<span class="product-page__tabs-value">2</span>)
                  </a>
                </li>
              </ul>
    
              <ul class="product-page__tabs-content">
                <li class="product-page__tabs-tab">
                  <div class="product-page__tabs-descr">
                    <p class="product-page__tabs-text">
                      Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом, горчицей, луком и маринованными огурчиками.
                    </p>

                    <p class="product-page__tabs-text">
                      Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
                    </p>

                    <p class="product-page__tabs-text">
                      Внешний вид товара может отличаться от изображений, представленных на сайте.
                    </p>
                  </div>
                </li>
    
                <li class="product-page__tabs-tab">
                  <ul class="product-page__tabs-specifications">
                    <li class="product-page__tabs-specification">
                      <span class="product-page__tabs-label">
                        Диаметр:
                      </span>
                      20 см
                    </li>

                    <li class="product-page__tabs-specification">
                      <span class="product-page__tabs-label">
                        Вес:
                      </span>
                      300 гр
                    </li>

                    <li class="product-page__tabs-specification">
                      <span class="product-page__tabs-label">
                        Калорийность (на 100г):
                      </span>
                      295 ккал
                    </li>

                    <li class="product-page__tabs-specification">
                      <span class="product-page__tabs-label">
                        Срок хранения:
                      </span>
                      до 3 дней
                    </li>
                  </ul>
                </li>
    
                <li class="product-page__tabs-tab">
                  <div class="product-page__tabs-reviews">
    
                  </div>
                </li>
    
              </ul>
            </div>
          </div>
        </div>
      </div>

